<div class="project-list">

<div class="project-item">
<span class="project-title">Adversarial Attacks on I2I Generative Models</span>
<a href="https://github.com/MarioRicoIbanez/AdversarialML-I2I" target="_blank"><i class="fa-brands fa-github"></i></a>
<a href="https://github.com/MarioRicoIbanez/AdversarialML-I2I/blob/main/assets/2025_Rico_AttacksI2I.pdf" target="_blank"><i class="fa-solid fa-file-pdf"></i></a>
<br><span class="project-meta">Small perturbations (eps=8/255) break InstructPix2Pix & Kandinsky. Defenses fail. w/ Volkan Cevher, LIONS lab</span>
</div>

<div class="project-item">
<span class="project-title">Evolution Strategies for Deep RL Pretraining</span>
<a href="https://github.com/MarioRicoIbanez/ES_DRL" target="_blank"><i class="fa-brands fa-github"></i></a>
<a href="https://github.com/MarioRicoIbanez/ES_DRL/blob/main/Evolution_Strategies_for_Deep_RL_pretraining___Poster.pdf" target="_blank"><i class="fa-solid fa-file-pdf"></i></a>
<br><span class="project-meta">ES helps in simple envs but doesn't scale. Tested across Flappy Bird, Breakout, MuJoCo. w/ SDSC</span>
</div>

<div class="project-item">
<span class="project-title">Chatsplaining: STEM Tutoring</span>
<a href="https://github.com/MarioRicoIbanez/ChatSplaining" target="_blank"><i class="fa-brands fa-github"></i></a>
<a href="https://github.com/MarioRicoIbanez/ChatSplaining/blob/main/MNLP_FINAL_REPORT.pdf" target="_blank"><i class="fa-solid fa-file-pdf"></i></a>
<br><span class="project-meta">Qwen3-0.6B + FAISS RAG + DPO rivals larger models on MMLU. 39k indexed chunks</span>
</div>

<div class="project-item">
<span class="project-title">WSI Resolution Impact on Pathology Models</span>
<a href="https://github.com/CS-433/ml-project-2-ml-ts-4science" target="_blank"><i class="fa-brands fa-github"></i></a>
<br><span class="project-meta">5x/10x/20x magnification shifts affect UNI embeddings more than expected. LTS4 lab</span>
</div>

<div class="project-item">
<span class="project-title">UAV Base Station Optimization with Deep RL</span>
<a href="https://arxiv.org/abs/2504.03961" target="_blank"><i class="fa-solid fa-file-pdf"></i></a>
<br><span class="project-meta">71-97% improvement over baselines. 12k+ episodes on GPU-accelerated 5G/6G simulator. Published at IEEE ICC</span>
</div>

</div>
